<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>害羞</title>
    <script type="text/javascript">
      if (location.protocol == 'http:') {
        location.protocol = 'https:';
      }
    </script>
</head>
<body>

    {{{body}}}

</body>
</html>
