<h3>豆瓣小组 - <a href="http://www.douban.com/group/haixiuzu/" target="_blank"
  rel="nofollow noreferrer">请不要嘿咻</a></h3>
<p>选择地域：</p>
<p><a href="/all">所有</a></p>
<p><a href="/hangzhou">浙江杭州</a></p>
<p><a href="/nanning">广西南宁</a></p>
<p><a href="/chengdu">四川成都</a></p>
<p><a href="/beijing">北京</a></p>

