<h3>豆瓣小组 - <a href="http://www.douban.com/group/haixiuzu/" target="_blank"
  rel="nofollow noreferrer">请不要嘿咻</a></h3>
<p>选择地域：</p>
<p><a href="/all">所有</a></p>
{{#each cities}}
<p><a href="/city/{{key}}">{{name}}</a></p>
{{/each}}

